body { 
    
}

.content-container { 
    border: 5px solid green;
    background-image: url('../img/Invitation2.png');
    background-size: 100%;    
    width: 800px;
    height: 1130px;
    margin: auto;
}

.content { 
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 150px;
    padding-bottom: 50px;
}
.map-placeholder {
    height: 240px; 
    width: 450px;
/*    background-color: blue;*/
    border: 5px red solid;
}

.map {
    border: 3px solid green;
}

.details {
    font-size: large;
    position: relative;
    top: 10px;
    left: 150px;
    width: 330px;
    height: 90px;
    overflow: hidden;
    //border: 1px solid black;
}

.details2 {
    font-size: large;
    position: relative;
    top: 15px;
    left: 280px;
    width: 200px;
    height: 120px;
    //border: 1px solid black;
    overflow: hidden;
}

.ss-top-of-page { 
    display: none;   
}
