body { 

}

.content-container { 
    background-image: url('../img/Invitation2.png');
    background-size: 100%;    
    width: 800px;
    height: 1130px;
    margin: auto;
}

.content { 
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 150px;
    padding-bottom: 50px;
}
.map-placeholder {
    height: 240px; 
    width: 450px;
/*    background-color: blue;*/
    border: 5px red solid;
}

.map {
    position: absolute;
    top: 440px;
    left: 340px;
}

.details {
    font-size: large;
    position: absolute;
    top: 800px;
    left: 590px; 
}
